@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #f48c25;
  --color-background-light: #f8f7f5;
  --color-background-dark: #221910;
}

@layer components {
  .step-line::after {
    content: '';
    @apply absolute top-1/2 left-0 right-0 h-[2px] bg-primary/20 -z-10;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
